[Desktop Entry]
Type=Application
Name=LixClipper
Comment=Clipboard History Manager by Foisal Islam
Exec=LixClipper
Icon=LixClipper
Categories=Utility;
Terminal=false
